

.header{
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}

.Logo{
  width: 100px;
  border-radius: 50%;
}

.menuButton{
  background-color: #3498db;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menuButton:hover{
  background-color: #2980b9;
}

