/* Estilos gerais */
.header {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 100;
  transition: all 0.3s ease;
}

.header.hidden {
  display: none;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}

.Logo {
  width: 100px;
  border-radius: 50%;
}

.menuButton {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menuButton:hover {
  background-color: #2980b9;
}

/* Botão do menu sanduíche fixo */
.menuIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #3498db;
  padding: 10px;
  z-index: 1001;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;

}

.menuIcon.closeIcon {
  z-index: 1002;
}

/* Overlay para fundo escurecido */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Menu móvel - sobreposto */
.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  max-width: 300px;
  height: fit-content;
  background-color: white;
  padding: 80px 20px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  transform: translateX(100%);
  animation: slideIn 0.3s forwards;
  border-radius: 0 0 0 10px;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.mobileMenu .menuButton {
  margin: 10px 0;
  text-align: center;
  width: 93%;
}

.activeButton {
  background-color: #1a5276; /* Cor mais escura para o botão ativo */
  border: 2px solid #fff; /* Borda para destacar ainda mais */
}

/* Media query para telas menores */
@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }
  
  .desktopMenu {
    display: none;
  }

   /* Estilo para botão ativo no menu mobile */
  .mobileMenu .activeButton {
    background-color: #1a5276;
    border: 2px solid #fff;
  }
}

